body{
  font-family: Arial;
  text-align:center;
  background:#f4f6fa;
}

table{
  border-collapse:collapse;
  margin:20px auto;
}

td{
  width:30px;
  height:30px;
  border:1px solid #999;
  text-align:center;
}

td.black{
  background:black;
}
