body{
font-family:Arial;
text-align:center;
background:#f2f4f8;
}

h1{
margin-top:20px;
}

#timer{
color:red;
font-size:20px;
margin:10px;
}

table{
border-collapse:collapse;
margin:auto;
}

td{
width:30px;
height:30px;
border:1px solid #999;
text-align:center;
vertical-align:middle;
font-size:14px;
}

.cell{
background:white;
cursor:pointer;
}

.fill{
background:black;
}

.xmark{
background:white;
color:red;
}
.xmark::after{
content:"X";
}

.clue{
background:#ddd;
font-weight:bold;
}

.blank{
background:#f2f4f8;
border:none;
}

button{
margin:20px;
padding:10px 20px;
font-size:16px;
}
